<!-- Footer -->
<!-- Efe Cem Doğan -->
<footer>
    <div class="footer">
      <div class="row footer-icons">
        <ul>
          <li><a href="https://twitter.com/srkntnyldz"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/serkantanyildizi/"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com/serkantanyildizi/"><i class="fa-brands fa-facebook-f"></i></a></li>
        </ul>
      </div>
  
      <div class="row footer-links">
        <ul>
          <li><a href="#about-icon">Kariyer</a></li>
          <li><a href="#project__a">Projeler & Çalışmalar</a></li>
          <li><a href="#social-details">Sosyal Medya</a></li>
          <li><a href="/hakkinda">Hakkında</a></li>
          <li><a href="/iletisim">İletişim</a></li>
        </ul>
      </div>
  
      <div class="row footer-text">
        <p>Copyright © 2023 All rights reserved Designed By: EFE</p>
      </div>
  </div>
</footer>